.button {
    width: 100px;
    height: 40px;
    border-radius: 12px;
    text-align: center;
    font: normal normal bold 12px/15px Helvetica Neue;
    color: #FFFFFF;
}

.okay-button {
    background: #20C5D2;
    color: #FFFFFF;
}

.cancel-button {
    background: #f33d3d;
    color: #FFFFFF;
}

.sign-button {
    background: #6356A5;
    color: #FFFFFF;
}

.follow-button {
    background: #FEC92E;
    border-radius: 6px;
    text-align: center;
    font:12px/13px Helvetica Neue;
    color: #FFFFFF;
}

.unfollow-button {
    background: #f33d3d;
    border-radius: 6px;
    text-align: center;
    font:12px/13px Helvetica Neue;
    color: #FFFFFF;
}