.author-info {
    float: left;
}

.author-pfp-div {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.author-pfp {

    float: left;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-color: #FEC92E;
    border-width: 1px;
    border-style: solid;
}

.author-name {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    text-align: left;
    font: 16px/18px Helvetica Neue;
}

.author-work {
    float: bottom;
    padding-left: 20px;
    text-align: left;
    font: 12px/13px Helvetica Neue;
    text-transform: uppercase;
    opacity: 0.5;
}

.author-follow {
    padding-top: 20px;
    float: left;
}